/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('https://www.transparenttextures.com/patterns/cork-board.png');
    background-color: #deb887;
    background-repeat: repeat;
}

.container {
    max-width: 1200px;
}

/* Navegación */
.nav-tabs {
    border-bottom: 2px solid #dee2e6;
    margin-top: 20px;
}

.nav-tabs .nav-link {
    color: #495057;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #007bff;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid #007bff;
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.main-content {
    flex: 1 0 auto;
}